body{
font-family: 'Boogaloo', cursive;
background-color:black;
color:white;
}
.how-Order{
    display: none;
}
.order{
    cursor: pointer;
    color: #8d8e92;
  }
  .topnav{
      background-color:black;
      overflow: hidden;
      height: 100vp;
      padding:30px 16px;
      color: white;
      word-spacing: 40px;
      font-size:17px;
      float:center;
  }
  #topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  .sticky {
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    position: sticky;
    top: 10px;
    z-index: 100;
  }
  
  .sticky + .content {
    padding-top: 60px;
  }
  

  .img-hover-zoom {
    height: 400px;
    overflow: hidden;
  } 
  .img-hover-zoom img {
    transition: transform .10s ease;
  }
  .img-hover-zoom:hover img {
    transform: scale(1.5);
  }
  footer{
  text-align: center;
  }

